footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  footer a {
    display: flex;
    align-items: center;
  }