.spacer {
    flex: 1;    
    justify-content: center;
    align-items: center;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .welcome{
  margin-left: 10px;
  }
  .login{
    margin-right: 10px;
  }

 